*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
} 
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Google Sans';
	font-size: 16px;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
	color: #000; 
}
button {
	cursor: pointer;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
.header {
	padding-top: 10px;
	box-shadow: 2px 4px 7px 0px rgba(204,204,204,0.25);
}
.header .cols-wrap {
	align-items: center;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 174px;
	max-width: 100%;
}
.location-block {
	font-size: 14px;
	display: inline-flex;
	align-items: center;
	position: relative;
}
.location-value {
	margin-left: 5px;
	cursor: pointer;
}
.location-value span {
	border-bottom: 2px dotted #000;
	transition: all 0.3s;
}
.location-value:hover span {
	border-color: transparent;
}
.location-value i {
	color: #812990;
	font-size: 10px;
}
.cols-wrap {
	margin: 0 -15px;
	display: flex;
}
.col-min {
	width: 22%;
	padding: 0 15px;
}
.col-medium {
	width: 56.6%;
	padding: 0 15px;
}
.col-big {
	width: 78%;
	padding: 0 15px;
}
.col-mediumbig {
	width: 71.8%;
	padding: 0 15px;
}
.col-mediummin {
	width: 29%;
	padding: 0 15px;
}
.menu {
	font-size: 14px;
	display: flex;
	align-items: center;
}
.menu li {
	margin-left: 45px;
}
.menu li:first-child {
	margin-left: 0;
}
.menu a {
	color: #3b3a3a;
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
}
.menu a:hover {
	border-color: #3b3a3a;
}
.header__center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.align-right {
	text-align: right;
}
.phone-main {
	font-size: 18px;
	color: #000;
	font-weight: 500;
	display: inline-block;
	transition: all 0.3s;
}
.btn-catalog {
	padding-left: 14px;
	padding-right: 16px;
	margin-left: 23px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	font-weight: 500;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #8f00cc;
	border-radius: 8px;
	transition: all 0.3s;
}
.btn-catalog:hover {
	background-color: #3e383f;
}
.btn-catalog i {
	font-size: 18px;
	margin-right: 18px;
	position: relative;
}
.btn-catalog span {
	margin: 0 auto;
}
.form-search {
	width: 50%;
	margin-left: 14px;
	position: relative;
}
.form-search input[type="search"],
.form-search input[type="text"] {
	font-size: 14px;
	padding: 0 23px;
	padding-right: 50px;
	height: 44px;
	background-color: #ffffff;
	border-radius: 8px;
	width: 100%;
	font-family: 'Google Sans';
	border: 2px solid #8f00cc;
	border-radius: 8px;
}
.btn-search {
	width: 44px;
	height: 100%;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #8f00cc;
	border-radius: 8px;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	padding: 0;
	transition: all 0.3s;
}
.btn-search:hover {
	background-color: #3e383f;
}
.header-buttons {
	padding-left: 25px;
	display: flex;
	align-items: center;
}
.btn-header {
	display: inline-block;
	text-align: center;
	position: relative;
}
.btn-header img {
	max-width: 23px;
	height: 23px;
	margin: 0 auto;
	margin-bottom: 9px;
}
.btn-header_like {
	border-left: 1px solid rgba(252,252,252,0.3);
}
.btn-basket {
	width: 149px;
	height: 70px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	background-color: #43af3e;
	display: inline-flex;
	align-items: center;
	margin-left: auto;
	position: relative;
}
.btn-basket img {
	width: 25px;
}
.btn-basket__price {
	margin-left: 30px;
}
.btn-basket__value {
	font-size: 14px;
	width: 25px;
	height: 25px;
	top: -13px;
	left: 27px;
	background-color: #e70082;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-weight: 400;
	color: #fff;
	position: absolute;
}
.billbord {
	padding-top: 25px;
	padding-bottom: 28px;
}
.list-catalog a {
	display: flex;
	height: 68px;
	align-items: center;
	font-size: 14px;
	color: #000;
	padding-right: 15px;
	transition: all 0.3s;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 15px;
}
.list-catalog a:hover,
.list-catalog .active a {
	background-color: #f8f8f8;
	border: 1px solid rgba(235,235,235,0.44);
}
.list-catalog a:hover .list-catalog__icon img,
.list-catalog .active a .list-catalog__icon img {
	filter: grayscale(0);
}
.list-catalog a i {
	font-size: 10px;
	color: rgba(0,0,0,0.52);
	margin-left: auto;
}
.list-catalog__icon {
	width: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.list-catalog__icon img {
	max-width: 21px;
	max-height: 21px;
	filter: grayscale(100%);
	transition: all 0.3s;
}
.slider-billbord {
	border-radius: 10px;
}
.slider-billbord__item {
	height: 346px;
	border-radius: 10px;
	padding-left: 43px;
	padding-top: 39px;
	display: block;
	background-image: url(../img/slide_billbord1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #000;
}
.slider-billbord__name {
	font-size: 24px;
	line-height: 30px;
	padding-top: 7px;
	font-weight: 500;
	text-transform: uppercase;
	display: block;
}
.slider-billbord__title {
	font-size: 34px;
	line-height: 46px;
	padding-top: 20px;
	font-weight: 500;
	max-width: 390px;
	display: block;
}
.slider-billbord__descr {
	font-size: 18px;
	font-weight: 500;
	padding-top: 20px;
	max-width: 390px;
	display: block;
}
.slick-arrow {
	width: 40px;
	height: 40px;
	color: rgba(0,0,0,0.52) !important;
	font-size: 13px;
	background-color: #f5f5f5;
	top: 50%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.slick-arrow:hover {
	background-color: rgb(122 122 122);	
	color: #fff !important;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slider-billbord .slick-prev {
	left: -15px;
}
.slider-billbord .slick-next {
	right: -15px;
}
.slick-dots {
	bottom: 0;
	left: 0;
}
.slick-dots li {
	width: 7px;
	height: 7px;
}
.slick-dots li button {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #80098b;
	transition: all 0.3s;
	border: none;
	padding: 0;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: rgba(129,41,144,0.4);
}
.slider-billbord .slick-dots  {
	bottom: 19px;
	left: 40px;
	text-align: left;
}
.banner {
	min-height: 100%;
	padding-left: 20px;
	padding-top: 20px;
	color: #000;
	display: block;
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
	background-size: cover;
	background-color: #f5f5f5;
	transition: all 0.3s;
}
.banner_1 {
	background-image: url(../img/anner1_1.jpg);
}
.banner__name {
	font-size: 24px;
	margin-bottom: 20px;
	display: block;
	font-weight: 700;
}
.banner__title {
	font-size: 18px;
	line-height: 26px;
	font-weight: 500;
	display: block;
}
.banner__bottom {
	bottom: 25px;
	padding-left: 20px;
	left: 0;
	position: absolute;
	display: block;
}
.banner__price {
	font-size: 24px;
	font-weight: 700;
	display: block;
}
.banner__oldprice {
	text-decoration: line-through;
	color: #666;
	display: block;
}
.sale-circle {
	width: 84px;
	height: 84px;
	background-color: #4db848;
	position: absolute;
	top: 14px;
	right: 14px;
	border-radius: 50%;
	font-weight: 700;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.sale-circle strong {
	font-size: 26px;
	line-height: 24px;
	display: block;
}
.sale-circle span {
	display: block;
}
.col-md-6 .banner {
	min-height: 176px;
	padding-left: 34px;
}
.col-md-6 .banner__title {
	max-width: 205px;
} 
.banner_2 {
	background-image: url(../img/anner2.jpg);
}
.banner_3 {
	background-image: url(../img/anner3.jpg);
}
.row_banners > div {
	margin-top: 25px;
}
.slider-brands__item {
	height: 80px;
	margin: 5px 5px;
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.slider-brands__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-brands__item:hover {
	box-shadow: 0 0 5px  #dfdfdf;
}
.slider-brands {
	margin: 0 -5px;
	margin-top: 22px;
}
.arrows_main .slick-prev {
	left: -33px;
}
.arrows_main .slick-next {
	right: -33px;
}
.title-section {
	font-size: 24px;
	font-weight: 700;
}
.title-section_main {
	padding-top: 30px;
	padding-bottom: 22px;
}
.products {
	padding-bottom: 0px;
}
.item-product {
	padding: 24px 20px;
	padding-top: 10px;
	min-height: 100%;
	padding-bottom: 58px;
	border-radius: 8px;
	position: relative;
	z-index: 1;
	transition: all 0.3s;
}
.item-product::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;

	height: calc(100% - 58px);
	border-radius: 8px;
	transition: all 0.3s;
	z-index: -1;
}
.item-product__image {
	height: 228px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-product__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-product__name {
	display: block;
	line-height: 24px;
	margin-bottom: 15px;
	font-weight: 500;
	color: #000;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.availability {
	font-size: 14px;
	padding-left: 15px;
	color: #333333;
	position: relative;
}
.availability span {
	border-bottom: 2px dotted #333333;
}
.availability::before {
	position: absolute;
	display: block;
	content: " ";
	width: 7px;
	height: 7px;
	background-color: #4db848;
	top: 0px;
	bottom: 0;
	margin: auto;
	left: 0;
	border-radius: 5px;
}
.item-product .availability {
	margin-bottom: 24px;
}
.price-old {
	color: #666666;
	text-decoration: line-through;
}
.price-new {
	font-size: 20px;
	margin-right: 16px;
	font-weight: 700;
}
.item-product__price {
	margin-bottom: 24px;
	display: flex;
	align-items: center;
}
.bonus-product {
	font-size: 13px;
	padding: 5px 10px;
	color: #000000;
	display: inline-block;
	background-color: #f5f5f5;
	margin-bottom: 16px;
	border-radius: 6px;
}
.bonus-product span {
	color: #e70082;
	white-space: nowrap;
}
.item-product__bottom {
	padding: 0 22px;
	position: absolute;
	min-height: 58px;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.3s;
}
.item-product:hover .item-product__bottom {
	opacity: 1;
}
.item-product:hover::before {
	opacity: 0;
}
.item-product:hover {
	background-color: #fff;
	box-shadow: 0px 4px 10px 0px rgba(200,200,200,0.3);
}
.item-product:hover .btn-like  {
	opacity: 1;
}
.btn-main {
	font-size: 14px;
	padding: 0 34px;
	font-weight: 500;
	color: #ffffff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 42px;
	background-color: #8f00cc;
	border-radius: 8px;
	border: none;
	font-family: 'Google Sans';
	transition: all 0.3s;
}
.btn-main:hover {
	background-color: #3e383f;
}
.item-product__status {
	padding: 8px 17px;
	background-color: #0070f1;
	border-radius: 15px;
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
	position: absolute;
	top: 14px;
	left: 0;
}
.btn-like {
	width: 22px;
	height: 21px;
	position: relative;
	z-index: 1;
	background-image: url(../img/like-product.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: all 0.3s;
}
.item-product .btn-like {
	top: 14px;
	right: 14px;
	position: absolute;
	opacity: 0;
}
.slider-products .item-product {
	margin: 0 10px;
}
.slider-products {
	margin: 0 -10px;
}
/*slick slides equal height*/
.slider-products .slick-track {
	display: flex !important;
}
.slider-products .slick-slide {
	padding-bottom: 12px;
	padding-top: 5px;
	height: inherit !important;
}

.item-product__status_new {
	background-color: #42da3a;
}
.item-product__status_action {
	background-color: #e70082;
}
.link-main {
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	color: #0070f1;
	border-bottom: 1px solid #0070f1;
	display: inline-block;
	transition: all 0.3s;
}
.link-main:hover {
	border-color: transparent;
}
.header-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header-section .link-main {
	margin-top: 15px;
}
.advantages {
	padding-top: 5px;
	padding-bottom: 50px;
}
.item-advantage {
	font-size: 18px;
	line-height: 24px;
	padding: 28px 10px;
	padding-top: 0;
	padding-left: 28px;
	position: relative;
	min-height: 100%;
	background-color: #f5f5f6;
	border: 1px solid rgba(235,235,235,0.44);
	border-radius: 10px;
	transition: all 0.3s;
}
.item-advantage:hover {
	box-shadow: 0px 4px 10px 0px rgb(200 200 200 / 30%);
}
.item-advantage strong {
	font-weight: 500;
	display: block;
}
.item-advantage p {
	margin-top: 3px;
	font-size: 14px;
	line-height: 22px;
}
.item-advantage__icon {
	height: 75px;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	position: relative;
}
.item-advantage__icon img {
	max-width: 41px;
	max-height: 41px;
}
.row_advantages > div {
	margin-top: 10px;
}
.slider-products_main {
	margin-left: 0;
	margin-right: 0;
}
.slider-products_main .item-product {
	margin-left: 0;
	margin-right: 0;
	border-radius: 0;
	box-shadow: none;
}
.slider-products_main .item-product::before {
	border-right: 1px solid #ebe9e9;
	box-shadow: none;
	border-radius: 0;
}

.slider-products_main .item-product__price {
	justify-content: flex-start;
}
.slider-products_main .price-old {
	margin-right: 18px;
}
.news {
	padding-top: 6px;
	padding-bottom: 50px;
}
.news .header-section {
	padding-bottom: 6px;
}
.item-news {
	margin-top: 20px;
	padding: 15px;
	display: block;
	color: #000;
	transition: all 0.3s;
	border-radius: 8px;
}
.item-news:hover {
	box-shadow: 0px 4px 10px 0px rgb(200 200 200 / 30%);
}
.item-news__image {
	height: 219px;
	margin-bottom: 30px;
	border-radius: 8px;
	display: block;
}
.item-news__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 8px;
}
.item-news__title {
	font-weight: 500;
	margin-bottom: 10px;
	display: block;
}
.item-news__text {
	font-size: 14px;
	line-height: 21px;
	display: block;
}
.wrap-news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	border-radius: 8px;
}
.wrap-news .item-news {
	width: 29.8%;
}
.header__top {
	display: flex;
	align-items: center;
}
.link-header {
	font-size: 14px;
	color: #000000;
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
}
.link-header:hover {
	border-color: #000;
}
.menu {
	margin-right: 155px;
	margin-left: auto;
}
.location-value {
	color: #000;
}
.location-value span {
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
}
.location-value:hover span {
	border-color: #000;
}
.location-value i {
	font-size: 14px;
	margin-right: 14px;
	color: rgba(0,0,0,0.52);
}
.location-block {
	margin-right: 59px;
}
.menu__btn a {
	padding: 4px 18px;
	color: #fff;
	background-color: #e70082;
	border-radius: 14.5px;
	border: none;
}
.menu__btn a:hover {
	background-color: #b40065;
}
.menu li {
	margin-left: 28px;
}
.header__bottom {
	padding-top: 19px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	background-color: transparent;
	justify-content: space-between;
	margin: 0;
}
.btn-header__text {
	font-size: 12px;
	display: block;
	color: #000;
	width: 100%;
	transition: all 0.3s;
}
.btn-header:hover .btn-header__text {
	color: #812990;
}

.header-buttons {
	justify-content: space-between;
}
.brands {
	padding-top: 25px;
	padding-bottom: 55px;
}
.link-block {
	font-size: 14px;
	padding: 9px 14px;
	background-color: #f5f5f5;
	border-radius: 18px;
	font-weight: 500;
	color: #0070f1;
	transition: all 0.3s;
}
.link-block:hover {
	background-color: #e9e9e9;
}
.header-section {
	padding-bottom: 20px;
}
.advantages .title-section {
	padding-bottom: 25px;
}
.subscribe__title {
	font-size: 22px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}
.subscribe {
	padding: 42px 0;
	background-color: #f5f5f5;
}
.item-form textarea,
.item-form input {
	height: 50px;
	padding: 0 22px;
	padding-right: 35px;
	background-color: #ffffff;
	border: 1px solid rgba(235,235,235,0.44);
	border-radius: 8px;
	font-size: 14px;
	line-height: 21px;
	color: #000;
	font-family: 'Google Sans';
	width: 100%;
}
.form-subscribe {
	display: flex;
	align-items: center;
}
.form-subscribe .btn-main {
	height: 50px;
	flex: 1;
}
.form-subscribe .item-form {
	width: 260px;
	margin-right: -15px;
}
.footer__wrap {
	margin: 0 -15px;
	display: flex;
}
.footer__col {
	width: 22%;
	padding: 0 15px;
}
.footer__col_first {
	width: 30%;
}
.footer {
	padding-top: 33px;
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	line-height: 23px;
	background-color: #3e383f;
}
.footer p a {
	color: rgba(255, 255, 255, 0.6);
	transition: all 0.3s;	
}
.footer p a:hover {
	color: rgba(255, 255, 255, 1);
}
.footer p {
	margin-bottom: 10px;
}
.footer .logo {
	margin-bottom: 17px;
}
.title-social,
.footer__title {
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 15px;
	font-weight: 700;
	color: #ffffff;
}
.footer__title i {
	display: none;
}
.footer__list li {
	margin-bottom: 18px;
}
.footer__list li a {
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
	color: rgba(255, 255, 255, 0.7);
}
.footer__list li a:hover {
	color: rgba(255, 255, 255, 1);
	border-color: #fff;
}
.footer .phone-main {
	color: rgba(255, 255, 255, 0.7);
}
.social-list  {
	display: flex;
	flex-wrap: wrap;
}
.social-list a {
	width: 35px;
	height: 35px;
	font-size: 18px;
	color: #fff;
	background-color: rgba(255,255,255,0.2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.social-list a:hover {
	background-color: rgba(255,255,255,0.4);
}
.social-list li {
	margin-right: 14px;
}
.social-list li:first-child a {
	font-size: 16px;
}
.social-list li:last-child {
	margin-right: 0;
}
.title-social {
	margin-top: 43px;
}
.btn_top {
	font-size: 24px;
	position: relative;
	color: #34282c !important;
	width: 42px;
	height: 42px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color:  rgba(255, 255, 255, 0.7);
	z-index: 300;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background-color: rgba(255, 255, 255, 1);
}
.footer__bottom {
	margin-top: 10px;
	padding: 15px 0;
	border-top: 1px solid rgba(249,249,249,0.2);
}
.footer__bottom .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.row_banners .banner__bottom {
	padding-left: 34px;
}
/*Style Sandwich*/
.btn_nav {
	border: none;
	z-index: 60;
	display: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	vertical-align: middle;
	position: relative;
}
.btn_nav:hover {
	opacity: 1;
} 
.sandwich span {
	display: block;
}
.sandwich {
	width: 30px;
	height:28px;
	margin: auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #000;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 10px;
	width: 29px;
	height: 2px;
	display: block;
	margin: 0 auto;
	background-color: #000;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 17px;
	width: 29px;
	height: 2px;
	display: block;
	background-color: #000;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 12px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
} 
.sandwich.active .sw-footer {
	top:8px;
	width: 30px;
	transform: rotate(-45deg);
}

/*End Sandwich*/
.menu li {
	position: relative;
}
.menu ul {
	padding: 10px 20px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	white-space: nowrap;
	background-color: #f8f8f8;
	display: none;
	border-radius: 6px;
}
.menu ul li {
	margin: 0;
	margin-bottom: 5px;
}
.menu__haschild > a {
	margin-right: 8px;
	position: relative;
}
.menu__haschild > a::after {
	position: absolute;
	left: 100%;
	top: 5px;
	font-size: 10px;
	margin-left: 8px;
	color: #000;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	content: "\f078";
}
.nav-page {
	padding: 20px;
	min-height: 363px;
	background-color: #f5f5f5;
	border: 1px solid rgba(235,235,235,0.44);
	border-radius: 10px;
	position: sticky;
	top: 30px;
}
.nav-page li {
	margin-bottom: 28px;
}
.nav-page a {
	border-bottom: 1px solid transparent;
	font-weight: 500;
	color: #0070f1;
	transition: all 0.3s;
}
.nav-page a:hover {
	border-color: #0070f1;
}
.col-page {
	width: 61%;
	padding: 0 15px;
}
.article__image img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	display: block;
}
.breadcumbs {
	padding: 20px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}
.breadcumbs a {
	color: #000;
	transition: all 0.3s;
	border-bottom: 1px solid transparent;
}
.breadcumbs a:hover {
	border-color: #000;
}
.breadcumbs span {
	margin: 0 8px;
}
.article {
	padding-bottom: 35px;
	font-size: 14px;
	line-height: 21px;
	color: #000;
}
.title-page {
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	text-align: center;
}
.article .title-page {
	padding-bottom: 15px;
}
.col-page > .article__image {
	margin-bottom: 30px;
}
.article .title-section {
	font-weight: 500;
}
.article .title-page + .title-section {
	text-align: center;
	padding-bottom: 40px;
}
.article p strong {
	font-weight: 500;
}
.article p {
	margin-bottom: 20px;
}
.article .title-section {
	padding-bottom: 20px;
}
.article-block {
	padding: 15px 35px;
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	min-height: 100%;
	background-color: #f5f5f5;
	border: 1px solid rgba(235,235,235,0.44);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.article-block p {
	margin-bottom: 30px;
}
.article-block p:last-child {
	margin-bottom: 0;
}
.article .col-page .row {
	padding-top: 15px;
	padding-bottom: 35px;
}
.article .col-page .row:last-child {
	padding-bottom: 0;
}
.wrapper {
	overflow: initial;
}
.header-buttons {
	padding-left: 40px;
}
.title-main {
	font-size: 30px;
	padding-top: 25px;
	font-weight: 700;
	color: #000;
}
.news-page .title-main {
	margin-bottom: -10px;
	margin-left: 15px;
}
.pager {
	padding-top: 40px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.page-numbers {
	width: 39px;
	height: 39px;
	margin: 0 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	border-radius: 6px;
	color: #000;
	transition: all 0.3s;
}
.page-numbers:hover,
.page-numbers.current {
	border-color: #8f00cc;
}
.page-numbers.dots {
	pointer-events: none;
}
.page-numbers.prev,
.page-numbers.next {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #f5f5f5;
	border: none !important;
	color: rgba(0, 0, 0, 0.52);
}
.page-numbers.prev:hover,
.page-numbers.next:hover {
	background-color: #e5e5e5;
}
.page-numbers.prev {
	margin-right: 23px;
}
.page-numbers.next {
	margin-left: 23px;
}
.news-page {
	padding-bottom: 50px;
}
#map {
	height: 812px;
	width: 100%;
	background-color: #f5f5f5;
	border-radius: 10px;
}
.contacts-block {
	padding: 20px 30px;
	background-color: #f5f5f5;
	border: 1px solid rgba(235,235,235,0.44);
	border-radius: 10px;
	line-height: 24px;
	max-width: 502px;
}
.contacts-block p strong {
	font-weight: 500;
}
.contacts-block a {
	color: #000;
	font-weight: 500;
}
.contacts .title-main {
	padding-bottom: 15px;
}
.contacts-block .title-section:not(:first-of-type)::before {
	position: absolute;
	display: block;
	content: " ";
	left: -30px;
	right: -30px;
	top: -11px;
	height: 1px;
	background-color: #fff;
}
.contacts-block .title-section {
	padding-bottom: 14px;
	padding-top: 3px;
	position: relative;
}
.contacts {
	padding-bottom: 55px;
}
.card .title-page {
	text-align: left;
	padding-bottom: 50px;
}
.slider-nav__item {
	width: 93px;
	height: 93px;
	margin: 20px 0;
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 6px;
	transition: all 0.3s;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
}
.slick-current .slider-nav__item {
	border-color: #8f00cc;
}
.slider-nav {
	margin-top: -20px;
}
.slider-nav__item img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}
.slider-for__item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.card__title {
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}
.choose-value {
	display: flex;
	flex-wrap: wrap;
}
.choose-value li {
	padding: 0 27px;
	height: 38px;
	margin-top: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	border-radius: 6px;
	margin-right: 8px;
}
.choose-value li.active {
	background-color: #f5f5f5;
	border: 1px solid #8f00cc;
}
.item-color {
	width: 33px;
	height: 33px;
	background-color: #ffffff;
	border: 1px solid transparent;
	border-radius: 50%;
}
.choose-value_color li {
	padding: 4px;
	height: auto;
	border-radius: 50%;
	border-color: transparent;
}
.choose-value_color li.active {
	background-color: transparent;
}
.item-color_1 {
	background-color: #d4d3f2;
}
.item-color_2 {
	background-color: #fff;
	border-color: #a2a2a2;
}
.item-color_3 {
	background-color: #f6cefa;
}
.item-color_4 {
	background-color: #dfdfe6;
}
.slider-for {
	max-width: 400px;
}
.card__title_color {
	padding-top: 23px;
}
.status-card {
	padding: 7px 21px;
	padding-left: 30px;
	margin-top: 33px;
	font-size: 15px;
	margin-bottom: 30px;
	background-color: #f5f5f5;
	border-radius: 6px;
	display: inline-block;
	position: relative;
}
.status-card::before {
	position: absolute;
	display: block;
	content: " ";
	width: 9px;
	height: 9px;
	left: 11px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #00ba4d;
	border-radius: 50%;
}
.card__oldprice {
	font-size: 18px;
	text-decoration: line-through;
	color: #666666;
}
.card__price {
	font-size: 36px;
	margin-top: 5px;
	margin-bottom: 25px;
	font-weight: 700;
}
.bonus-product_card {
	font-size: 15px;
	padding: 7px 13px;
}
.card__btns {
	padding-top: 5px;
	display: flex;
	align-items: center;
}
.card__btns .btn-main {
	margin-right: 22px;
}
.text-credit {
	padding-top: 12px;
	font-size: 15px;
	color: #e70082;
}
.text-credit strong {
	font-weight: 500;
}
.hint {
	margin-left: 5px;
	top: 2px;
	position: relative;
	display: inline;
}
.hint i {
	color: #a2a2a2;
}
.card {
	padding-bottom: 60px;
}
.card .item-product__status {
	z-index: 2;
	font-size: 13px;
	padding: 5px 15px;
	top: 10px;
	left: -20px;
}
.card-info__head {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	border-bottom: 1px solid #eae8e8;
}
.card-info__head span {
	padding-bottom: 4px;
	border-bottom: 2px solid #8f00cc;
	display: inline-block;
}
.table-wrap table {
	font-size: 14px;
	line-height: 24px;
	width: 100%;
	border-spacing: 0;
}
.table-wrap table  thead {
	font-size: 16px;
	font-weight: 500;
}
.table-wrap table td {
	padding: 8px 25px;
}
.table-wrap table tbody tr:nth-child(odd) td {
	background-color: #f5f5f5;
}
.card-info td:first-child {
	width: 450px;
}
.table-wrap table tbody tr:last-child td {
	border-bottom: 1px solid #f5f5f5;
}
.table-wrap table thead td {
	padding-top: 20px;
}
.card-info {
	padding-bottom: 40px;
}
.card-info__link {
	padding-top: 35px;
	text-align: center;
}
.slider-for__item img {
	max-width: 100%;
}
.card-info .title-main {
	padding-top: 0;
}

/*catalog*/
.title-status {
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
}
.catalog .title-main {
	padding-top: 0;
	padding-bottom: 20px;
}
.catalog .status-card {
	margin: 18px 0;
}
.item-filter {
	padding: 15px 0;
	font-size: 15px;
	line-height: 24px;
	border-top: 1px solid #eae8e8;
}
.item-filter__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	font-weight: 500;
}
.item-filter__head i {
	color: rgba(0,0,0,0.52);
	transition: all 0.3s;
}
.item-filter.active .item-filter__head i {
	transform: rotate(180deg);
}
.input-range {
	margin-right: 15px;
	width: 50%;
	margin-bottom: 10px;
}
.input-range:last-child {
	margin-right: 0;
}
.input-range input {
	height: 38px;
	background-color: #ffffff;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	font-family: 'Google Sans';
	color: #000000;
	border: 1px solid #a2a2a2;
	width: 100%;
	border-radius: 6px;
}
.range-controls {
	display: flex;
	align-items: center;
}
.irs--flat .irs-line {
	height: 3px;
	background-color: #cccccc;
}
.irs--flat .irs-bar {
	height: 3px;
	background-color: #8f00cc;
}
.irs--flat .irs-handle {
	width: 24px;
	height: 24px;
	top: 14px;
	background-color: #ffffff;
	border: 2px solid #8f00cc;
	cursor: pointer;
	border-radius: 50%;
}
.irs--flat .irs-handle i {
	display: none !important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
	display: none;
}
.irs--flat .irs-min, .irs--flat .irs-max {
	display: none !important;
}
.catalog__left {
	padding-right: 92px;
}
.item-filter__content {
	padding-top: 15px;
	display: none;
}
.checkbox {
	font-size: 15px;
	line-height: 24px;
	text-align: left;
	color: #000;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 5px 0 0 40px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 26px;
	height: 26px;
	background-color: #ffffff;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 26px;
	height: 26px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #8f00cc;
	font-size: 14px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.checkbox label > span span {
	color: #666;
}
.catalog {
	padding-bottom: 50px;
}
.item-filter .checkbox {
	padding: 10px 0;
}
select {
	opacity: 0;
}
.jq-selectbox__select-text {
	padding-right: 30px;
	white-space: nowrap;
	cursor: pointer;
	width: 100% !important;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	right: 0;
	top: 4px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	font-size: 13px;
	color: rgba(0,0,0,0.52);
	transition: all 0.3s;
}
.jq-selectbox__trigger-arrow::before {
	content: "\f078";
}
.head-sorting {
	padding-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.btn-view {
	width: 44px;
	height: 36px;
	font-size: 18px;
	background-color: transparent;
	border-radius: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #999;
	transition: all 0.3s;
	cursor: pointer;
}
.btn-view.active {
	color: #666;
	background-color: #fff;
}
.views-wrap {
	margin-left: 14px;
	padding: 3px;
	background-color: #f5f5f5;
	border-radius: 20px;
	display: inline-flex;
	align-items: center;
}
.jq-selectbox__dropdown {
	white-space: nowrap;
	padding: 10px 10px;
	background-color: #fff;
	box-shadow: 0 0 6px #ccc;
	border-radius: 6px;
}
.jq-selectbox__dropdown li {
	padding: 3px 0;
	cursor: pointer;
}
.catalog__right {
	margin-left: -70px;
}
.item-product__price {
	margin-bottom: 14px;
}
.item-product__name {
	margin-bottom: 11px;
}
.row_catalog .item-product__bottom,
.row_catalog .item-product {
	transition: inherit;
}
.row_catalog .item-product:hover {
	z-index: 2;
}
.row_catalog > div {
	margin-bottom: -40px;
}
/*new pages*/
.item-contact {
	border: 1px solid #f5f5f5;
	margin-bottom: 15px;
	border-radius: 12px;
	transition: all 0.3s;
}
.item-contact__content {
	padding: 0 30px;
	line-height: 24px;
	display: none;
}
.item-contact__content p strong {
	font-weight: 500;
}
.item-contact__content p a {
	color: #000;
	font-weight: 500;
}
.item-contact__arrow {
	width: 40px;
	height: 40px;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	background-color: #f5f5f5;
	flex: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.item-contact.active .item-contact__arrow {
	transform: rotate(180deg);
}
.item-contact.active {
	border-color: #8f00cc;
}
.item-contact__title {
	padding: 12px 15px;
	padding-left: 30px;
	font-size: 24px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-contact__unit {
	margin-bottom: 18px;
}
#map {
	height: 679px;
	border-radius: 12px;
	overflow: hidden;
}
.contacts .title-main {
	padding-bottom: 20px;
}
.steps-block {
	padding: 25px 35px;
	background-color: #f5f5f5;
	border-radius: 12px;	
}
.steps-block__item {
	margin-top: 22px;
	font-size: 18px;
	font-weight: 500;
	max-width: 525px;
	display: flex;
	align-items: center;
}
.steps-block__number {
	width: 70px;
	height: 70px;
	margin-right: 40px;
	color: #8f00cc;
	font-size: 30px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	flex: none;
}
.trade-in__image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 12px;
}
.trade-in__image {
	height: 100%;
	border-radius: 12px;
}
.trade-in .title-main {
	margin-bottom: 22px;
}
.item-question {
	border: 1px solid #f5f5f5;
	margin-bottom: 15px;
	border-radius: 12px;
	transition: all 0.3s;
}
.item-question__name {
	padding: 12px 15px;
	padding-left: 30px;
	font-size: 20px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-question__arrow {
	width: 40px;
	height: 40px;
	font-size: 14px;
	margin-left: 15px;
	color: rgba(0, 0, 0, 0.5);
	background-color: #f5f5f5;
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.item-question.active .item-question__arrow {
	transform: rotate(180deg);
}
.item-question.active {
	border-color: #8f00cc;
}
.item-question__content {
	padding: 0 30px;
	line-height: 24px;
	display: none;
}
.item-question__content p {
	margin-bottom: 15px;
}
.questions {
	padding-top: 45px;
	padding-bottom: 35px;
}
.questions .title-section {
	padding-bottom: 20px;
}
.trade-in__imagetext {
	width: 580px;
	margin: 0 auto;
	max-width: 100%;
	margin-top: -40px;
	margin-bottom: -40px;
	position: relative;
	z-index: 2;
}
.trade-in__imagetext img {
	max-width: 100%; 
}
.delivery-block {
	padding: 25px 35px;
	padding-bottom: 35px;
	line-height: 24px;
	min-height: 100%;
	background-color: #f5f5f5;
	border-radius: 12px;
}
.delivery-block .title-section {
	padding-bottom: 25px;
}
.delivery-block__icon {
	width: 85px;
	height: 85px;
	margin-right: 38px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	flex: none;
}
.delivery-block__icon img {
	max-width: 100%;
	max-height: 100%;
}
.delivery-block__content {
	display: flex;
}
.delivery-block__content strong {
	margin-top: 5px;
	font-size: 18px;
	display: block;
	font-weight: 500;
}
.delivery-block__content p {
	max-width: 295px;
}
.delivery {
	padding-bottom: 85px;
}
.row_delivery > div {
	margin-top: 22px;
}
.delivery-block__image {
	margin-top: 20px;
	opacity: 0.5;
}
.delivery-block__image img {
	max-width: 100%;
}
.tabs-card {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 18px;
	border-bottom: 1px solid #eae8e8;
	display: flex;
}
.tabs-card li {
	margin-left: 125px;
}
.tabs-card li:first-child {
	margin-left: 0;
}
.tabs-card li a {
	padding-bottom: 4px;
	color: #000;
	border-bottom: 2px solid transparent;
	display: inline-block;
	transition: all 0.3s;
}
.tabs-card li.active a {
	border-color: #8f00cc;
}
.item-min-product__name {
	font-size: 14px;
	line-height: 21px;
	color: #000;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	display: block;
}
.item-min-product__price {
	font-size: 23px;
	font-weight: 700;
}
.item-min-product__bottom {
	padding-top: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-min-product__oldprice {
	font-size: 15px;
	text-decoration: line-through;
	color: #666;
}
.item-min-product__image {
	height: 115px;
	width: 90px;
	margin-right: 9px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.item-min-product__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-min-product {
	max-width: 260px;
	display: flex;
	align-items: center;
	position: relative;
}
.item-min-product .checkbox {
	right: 4px;
	top: -17px;
	width: 20px;
	height: 20px;
	position: absolute;
}
.item-min-product .checkbox label > span:before {
	background-color: #8f00cc;
	border-color: #8f00cc;
}
.item-min-product .checkbox label > span:after {
	color: #fff;
}
.icon-complect {
	font-size: 48px;
	margin: 28px 30px;
	margin-right: 0;
	line-height: 24px;
	color: #999;
}
.complect-price {
	font-size: 26px;
	line-height: 23px;
	font-weight: 700;
}
.complect-oldprice {
	font-size: 15px;
	text-decoration: line-through;
	color: #666;
}
.complect-wrap__bottom {
	max-width: 260px;
	margin-top: 22px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.benefit-price {
	font-size: 13px;
	padding-bottom: 3px;
	color: #e70082;
	font-weight: 400;
}
.benefit-price strong {
	font-weight: 700;
}
.complect-wrap__bottom .icon-complect {
	width: 54px;
	margin: 0;
	margin-left: 30px;
}
.complect-wrap {
	padding-top: 30px;
	padding-bottom: 15px;
}
.card__btns .btn-main {
	height: 50px;
}
.tab-pane-card {
	margin: 0 -70px;
	padding: 0 70px;
	height: 0;
	overflow: hidden;
}
.tab-pane-card.active {
	height: auto;
}
.tab-pane-card .slider-products {
	border-bottom: 1px solid #eae8e8;
	margin-bottom: 20px;
}
.tags-list {
	margin-bottom: 18px;
	display: flex;
	flex-wrap: wrap;
}
.tags-list li {
	margin-right: 10px;
	margin-top: 10px;
}
.tags-list li:last-child {
	margin-right: 0;
}
.tags-list li a {
	font-size: 15px;
	padding: 7px 12px;
	border-radius: 4px;
	background-color: #f5f5f5;
	color: #000;
	display: inline-block;
	transition: all 0.3s;
}
.reviews-wrap p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 15px;
}
.tab-pane-card .col-lg-4 .title-section {
	padding-top: 20px;
}
.image-page img {
	max-width: 100%;
	height: auto;
	border-radius: 16px;
	border: 1px solid #f5f5f5;
}
.vacancies {
	padding-top: 30px;
	padding-bottom: 50px;
}
.vacancies p {
	line-height: 24px;
	margin-bottom: 20px;
}
.vacancies .title-main {
	padding-bottom: 22px;
}
.col_big-page {
	padding-right: 50px;
}
.col_small-page {
	margin-left: -40px;
}
.block-form {
	padding: 23px 38px;
	padding-bottom: 35px;
	background-color: #f5f5f5;
}
.block-form .item-form {
	margin-bottom: 18px;
}
.block-form .item-form input {
	padding-right: 20px;
}
.block-form__title {
	font-size: 24px;
	padding-bottom: 18px;
	display: flex;
	justify-content: center;
	text-align: center;
	white-space: nowrap;
	font-weight: 500;
	text-align: center;
}
.fl-upld input {
	display: none;
}
.fl-upld {
	font-size: 13px;
	color: #686a6c;
	cursor: pointer;
}
.fl-upld i {
	font-size: 16px;
	margin-right: 5px;
	color: #333;
}
.fl-upld label {
	cursor: pointer;
	font-weight: normal;
}
.name-upload {
	padding-bottom: 10px;
}
.block-form__center {
	display: flex;
	justify-content: center;
}
.checkbox_form {
	margin-top: 20px;
	font-size: 13px;
	color: #999;
	line-height: inherit;
}
.checkbox_form label > span:before {
	width: 15px;
	height: 15px;
	border-radius: 0;
	background-color: transparent;
	border-color: #999999;
}
.checkbox_form label > span:after {
	top: 4px;
	width: 15px;
	height: 15px;
	font-size: 9px;
	font-weight: 700;
}
.checkbox_form label > span {
	padding-top: 3px;
	padding-left: 23px;
}
.checkbox-wrap {
	display: flex;
	justify-content: center;
}
.checkbox-wrap .checkbox_form {
	white-space: nowrap;
}
.block-form .btn-main {
	height: 50px;
	min-width: 200px;
	margin-top: 20px;
	font-size: 16px;
}
.bottom-form {
	font-size: 18px;
	line-height: 24px;
	padding-top: 25px;
	font-weight: 500;
	text-align: center;
}
.bottom-form a {
	color: #000;
	font-weight: 700;
}
.category-block {
	padding: 33px 50px;
	border-radius: 8px;
	background-color: #f5f5f5;
}
.item-category {
	padding: 20px;
	padding-bottom: 10px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 8px;
	background-color: #fff;
	transition: all 0.3s;
}
.item-category:hover {
	box-shadow: 0 0 10px #ccc;
}
.item-category .title-section {
	padding-bottom: 5px;
	font-weight: 500;
	color: #000;
	display: block;
}
.item-category__image {
	height: 160px;
	display: flex;
	margin-top: auto;
	align-items: flex-end;
	justify-content: center;
}
.item-category__image img {
	max-width: 100%;
	max-height: 100%;
}
.category-block .row {
	margin: 0 -25px;
}
.category-block .row > div {
	padding: 0 25px;
}
.category .title-main {
	padding-top: 0;
	padding-bottom: 30px;
}
.category {
	padding-bottom: 50px;
}
