/*==========  Desktop First Method  ==========*/
/*add new*/
/*add new*/
/*add new*/
@media (max-width: 1569px) {
    .hint-content {
        width: 305px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 1390px) {
    .form-search {
        width: 44%;
    }
    .item-advantage p span {
        display: none;
    }
    /*support*/
    .item-support {
        padding: 35px 30px;
    }
    .row_support .row > div, .row_support > div {
        padding: 0 15px;
    }
    .row_support .row, .row_support {
        margin: 0 -15px;
    }
    .support-main__content {
        padding-bottom: 30px;
    }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .form-search {
        width: 35%;
    }
    .menu {
        margin-right: 58px; 
    }
    .banner__title {
        font-size: 16px; 
        line-height: 23px; 
    } 
    .banner {
     padding-left: 8px;
 } 
 .sale-circle {
     top: 5px;
     right: 5px;
 }
 .banner__name {
    font-size: 24px;
    margin-bottom: 4px;
    padding-right: 58px;
} 
.row_banners .banner__bottom,
.col-md-6 .banner {
    padding-left: 11px;
}
.col-md-6 .banner__title {
    max-width: 156px;
}  
.item-advantage__icon {
    width: 55px;
}
.item-advantage {
    padding-left: 62px;
    font-size: 16px;
}
.wrap-news .item-news {
    width: 33%;
}
.item-advantage {
    padding-left: 15px;
}
.col-page {
    width: 78%;
}
.nav-page {
    padding: 12px;
    min-height: 307px;
}
.nav-page li {
    margin-bottom: 15px;
}
.header-buttons {
    padding-left: 15px;
}
.contacts-block {
    padding: 20px 10px;
}
.card-info td:first-child {
    width: 305px;
}
/*new pages*/
.trade-in__imagetext {
    margin-top: -20px;
    margin-bottom: -20px;
}
.steps-block__number {
    margin-right: 15px;
}
.steps-block {
    padding: 25px 20px;
}
.block-form {
    padding-left: 15px;
    padding-right: 15px;
}
.checkbox-wrap .checkbox_form {
    white-space: normal;
    max-width: 180px;
}
.item-category .title-section {
    font-size: 20px;
}
.installment__image img {
    max-width: 100%;
}
.title-section_organizations {
    margin-top: 20px;
}
.item-installment {
    font-size: 16px;
}
.row_installment .title-section {
    padding-top: 29px;
}
.block-installment__title {
    font-size: 18px;
    line-height: 29px;
}
.block-installment {
    padding-left: 25px;
}
.block-form__title {
    white-space: normal;
}
.item-discount__value {
    padding: 20px 24px;
    right: -28px;
    bottom: -30px;
    font-size: 31px;
}
.catalog__left {
    padding-right: 68px;
}

/*add new*/
/*add new*/
/*add new*/
.item-program {
    padding-left: 15px;
    padding-right: 15px;
}
.row_program {
    margin: 0 5px;
}
.row_program > div {
    padding: 5px;
}
.item-program .btn-main {
    width: 100%;
}

/*support*/
.support-main {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 15px;
}
.support-main p {
    font-size: 16px;
}
.support-main .title-section {
    padding-top: 35px;
}
.item-support {
    padding: 25px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .list-catalog,
    .header__bottom .form-search {
     display: none;
 }
 .cols-wrap {
     display: block;
     margin: 0;
 }
 .col-big,
 .col-min,
 .col-mediummin,
 .col-mediumbig {
     width: 100%;
     padding: 0;
 }
 .location-block {
    margin-right: 25px;
}
.menu {
    margin-right: 20px;
}
.header-buttons {
    max-width: 35%;
    margin-left: auto;
}
.banner {
    min-height: 250px;
}
.banner_1 {
    margin-top: 15px;
    background-size: inherit;
}
.slider-brands .slick-prev {
    left: -39px;
}
.slider-brands .slick-next {
    left: -39px;
}
.item-news {
    padding: 10px;
}
.item-news__image {
    height: 180px;
    margin-bottom: 19px;
}
.subscribe__title {
 padding-bottom: 20px;
}
.form-subscribe {
 max-width: 450px;
}
.footer {
 font-size: 14px;
 line-height: 21px;
}
.footer__list li {
    margin-bottom: 12px;
}
.row_advantages > div {
    padding: 0 5px;
}
.row_advantages {
    margin: 0 -5px;
}
.nav-page {
    min-height: auto;
    padding: 20px;
    margin-bottom: 20px;
}
.wrapper {
    overflow: hidden;
}
.col-page {
    width: 100%;
    padding: 0;
}
.contacts-block {
    max-width: 100%;
    margin-bottom: 30px;
}
.col_for {
    order: -1;
}
.slider-for {
    margin: 0 auto;
    margin-bottom: 30px;
}
.slider-nav {
    margin: 0;
    margin-bottom: 20px;    
}
.card-info {
    padding-bottom: 0;  
}
.slider-nav__item {
    margin: 0 auto; 
}
.card .item-product__status {
    left: 15px;    
}
.card .title-page {
    padding-bottom: 30px;   
}
.card-info .title-main {
    padding-top: 25px;
}
/*new pages*/
#map {
    height: 500px;
}
.trade-in__imagetext {
    display: none;
}
.steps-block__item {
    max-width: 100%;
}
.trade-in__image {
    height: 350px;
    margin-top: 25px;
}
.delivery {
    padding-bottom: 50px;
}
.complect-wrap {
    display: flex;
    flex-wrap: wrap;
}
.card-info .card__btns {
    padding-bottom: 30px;
}
.col_big-page {
    padding-right: 15px;
}
.col_small-page {
    margin-left: 0;
}
.block-form {
    padding-left: 30px;
    padding-right: 30px;
}
.col_small-page {
    padding-top: 15px;
}
.category-block .row {
    justify-content: center;
}
.category-block .row > div {
    margin-top: 25px;
}
.category-block {
    padding-top: 10px;
}
.installment__image {
    margin-top: 25px;
    justify-content: center;
}
.title-section_organizations {
    margin-top: 30px;
}
.partners {
    padding-bottom: 50px;
}
.row_discount {
    justify-content: center;
}
.item-discount {
    margin-top: 25px;
    margin-bottom: 35px;
}
.catalog__left {
    padding-right: 15px;
}
.sidebar-catalog {
    display: none;
    padding-bottom: 15px;
}
.btn-main_catalog {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.catalog__right {
    margin-left: 0;
}
.row_banners,
.billbord .col-mediummin {
    display: none;
}

/*add new*/
/*add new*/
/*add new*/
.hint-content {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    margin: 0;
    margin-bottom: 20px;
}
.hint-content::before {
    border: 14px transparent solid;
    border-top: 19px solid #f5f5f5;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 100%;
    bottom: auto;
}
.item-program {
    padding-left: 30px;
    padding-right: 30px;
}
.row_program > div {
    padding: 0 15px;
}
.row_program {
    margin: 0 -15px;
}
.item-program .btn-main {
    width: 200px;
}
.bonus-program {
    padding-bottom: 50px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .btn-catalog,
    .header-buttons,
    .header__top {
     display: none;
 }
 .header__bottom {
     padding: 0;
 }
 .footer__wrap {
     display: block;
     margin: 0;
 }
 .footer__col {
     width: 100%;
     padding: 0;
 }
 .footer__content {
    padding-top: 15px;
    display: none;
}
.footer__title {
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.footer__title i {
    display: block;
    transition: all 0.3s;
    font-size: 15px;
}
.footer__title.active i {
    transform: rotate(45deg);
}
.footer__col_first p {
    display: none;
}
.footer__col_first {
    text-align: center;
}
.footer__bottom {
    margin-top: 25px;
    border: none;
}
.item-product__bottom {
    position: relative;
    min-height: auto;
    padding: 0;
    opacity: 1;
}
.slider-products .item-product {
    padding-bottom: 20px;
}
.slider-billbord__title {
    font-size: 26px;
    line-height: 34px;
    padding-top: 15px;
    max-width: 284px;
}
.slider-billbord__item {
 padding-left: 34px;
 height: 330px;
}
.slider-billbord__descr {
    font-size: 16px;
    padding-top: 14px;
}
.banner__title {
    max-width: 300px;
}
.slider-brands {
    padding-bottom: 30px;
}
.slider-products {
    padding-bottom:10px;
}
.header-section {
    padding-bottom: 6px;
}
.products {
    padding-top: 20px;
}
.brands {
    padding-top: 14px;
    padding-bottom: 18px;
}
.title-section {
    font-size: 21px;
}
.billbord {
    padding-bottom: 15px;
}
.advantages .title-section {
    padding-bottom: 15px;
}
.advantages {
    padding-top: 25px;
}
.wrap-news {
    display: block;
}
.wrap-news .item-news {
    width: 100%;
}
.news {
    padding-bottom: 30px;
}
.btn_nav {
    display: inline-block;
}
.wrapper {
    padding-top: 68px;
}
.header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}
.menu-mobile {
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: auto;
    padding-bottom: 90px;
    display: none;
    background-color: #fff;
}
.logo img {
    width: 140px;
}
.menu-mobile .list-catalog {
    padding-bottom: 15px;
    display: block;
}
.menu-mobile .menu {
    margin: 20px 0;
}
.menu-mobile .list-catalog > li > a {
    height: 58px;
}
.phone-btn {
    margin-left: auto;
    margin-right: 20px;
    display: inline-block;
    font-size: 20px;
    color: #000;
}
.menu ul {
    bottom: 100%;
    top: auto;
}
.menu-mobile .header-buttons {
    display: flex;
    justify-content: space-between;
    float: none;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 300px;
}
.item-advantage {
    padding-left: 10px;
}
.title-page {
    font-size: 27px;
    line-height: 38px;
}
.article .title-page + .title-section {
    padding-bottom: 20px;
}
.article-block {
    padding: 15px 20px;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
    min-height: auto;
}
.article-block p {
    margin-bottom: 15px;
}
.pager {
    justify-content: center;
}
.page-numbers.prev {
    margin-right: 15px;
}
.page-numbers.next {
    margin-left: 15px;
}
.slider-for__item {
    height: 300px;  
}
.slider-for__item img {
    max-height: 100%;
}
.status-card {
    margin: 15px 0; 
}
.card__title_color {
    padding-top: 10px;
}
.card {
    padding-bottom: 13px;
}
.card-info td:first-child {
    width: 230px;
}
.row_products .item-product {
    padding-bottom: 20px;
}
.row_products {
    margin: 0 -5px;
}
.row_products > div {
    padding: 0 5px;
}
.card-info {
    padding-top: 25px;
} 
.products_bottom { 
    padding-bottom: 30px;
}
.item-product .btn-like { 
    opacity: 1;
}
/*new pages*/
.item-contact__title {
    font-size: 20px;
}
#map {
    height: 400px;
}
.steps-block__item {
    font-size: 16px;
}
.trade-in__image img {
    width: auto;
    height: auto;
    max-width: 100%;
    object-fit: inherit;
    font-family: serif;
}
.trade-in__image {
    height: auto;
}
.questions {
    padding-top: 30px;
}
.item-question__name {
    padding-left: 15px;
    font-size: 17px;
}
.item-question__content {
    padding: 0 15px;
    font-size: 14px;
    line-height: 21px;
}
.tabs-card li {
    margin-left: 0;
}
.tabs-card {
    justify-content: space-between;
}
.complect-wrap {
    padding-bottom: 25px;
    display: block;
}
.card-info .card__btns { 
    padding-bottom: 10px;
}
.tab-pane-card .col-lg-4 .title-section {
    padding-top: 30px;
}
.tabs-card {
    font-size: 16px;
}
.tags-list li a {
    font-size: 13px;
    padding: 5px 8px;
}
.tab-pane-card .slider-products {
    border: none;
}
.partners .title-main,
.vacancies .title-main {
    padding-bottom: 15px;
}
.category-block .row > div {
    padding: 0 15px;
}
.category-block .row {
    margin: 0 -15px;
}
.category-block {
    padding-left: 25px;
    padding-right: 25px;
}
.category {
    padding-bottom: 30px;
}
.item-installment {
    margin-top: 20px;
}
.row_organizations > div { 
    margin-top: 25px;
}
.slider-billbord__item img,
.banner img {
    height: auto;
    object-fit: initial;
    font-family: initial;
}
.slider-billbord__item,
.banner {
    min-height: initial !important;
    height: auto !important;
}
.basket-item-block-image {
    text-align: center;
}
.basket-item-block-price {
    padding-top: 7px;
}
.basket-checkout-block {
    min-width: initial;
    width: initial;
}
.basket-checkout-section-inner{
    justify-content: space-between;
    align-items: center;
}
.basket-coupon-block-total-price-current {
    font-size: 26px;
    margin: 0;
}
.basket-checkout-block-btn {
    padding-top: 5px;
}
.basket-checkout-block.basket-checkout-block-btn {
    width: 100%;
}
.bx-soa-item-td-title, .bx-soa-item-td-text {
    font-size: 14px;
}
.bx-soa-cart-total {
    padding-top: 15px !important;
    position: static !important;
}
.checkbox {
    font-size: 14px;
    line-height: 23px;
}
.bx-soa-item-td-text .bx-price.all {
    font-size: 17px;
}
.bx-soa-item-tr.bx-soa-basket-info.bx-soa-item-tr-first {
    padding-bottom: 0;
}
.bx-soa-pickup-list-item.bx-selected .bx-soa-pickup-l-item-btn {
    padding-left: 0;
}
.bx-soa-pickup-list .bx-soa-pickup-list-item {
    padding-left: 15px;
}
.bx-soa-pickup-list .bx-soa-pickup-list-item {
    padding-right: 135px;
}
.bx-soa-pickup-list-item.bx-selected {
    padding-right: 15px;
}
.personal .col a.mr-4 {
    display: block;
}
.contact-map {
    height: 380px;
}
.discount p {
    font-size: 16px;
}
.item-discount {
    margin-left: auto;
    margin-right: auto;
}
.row_catalog {
    margin: 0 -5px;
}
.row_catalog > div {
    padding: 0 5px;
    margin-bottom: 10px;
}
.row_catalog .item-product {
    padding-bottom: 20px;
    box-shadow: 0px 4px 10px 0px rgb(200 200 200 / 30%);
}
.head-sorting {
    display: none;
}
.breadcumbs {
    display: none;
}
.header + .container {
    padding-bottom: 20px;
}

/*last*/
/*last*/
/*last*/
.menu-mobile .form-search {
    padding-left: 0 !important;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
}
.menu-mobile .header-buttons {
    margin-bottom: 20px;
}
.warranty {
    padding-top: 25px;
    padding-bottom: 40px;
}
.warranty h2, .warranty h1 {
    font-size: 27px;
    line-height: 33px;
    padding-bottom: 19px;
}
.warranty h3 {
    font-size: 21px;
    padding-bottom: 15px;
}
.warranty p, .warranty li {
    margin-bottom: 15px;
}
.btn-catalog {
    display: none !important;
}
/*support*/
.support-main p {
    font-size: 13px;
}
.support-main__content {
    padding-right: 15px;
    }
    .row_support .row > div {
        margin-top: 30px;
    }
    .row_support > div {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .row_support .row > div:first-child {
        margin-top: 0;
    }
    .title-min {
    font-size: 17px;
    line-height: 25px;
}
.support .title-section {
    padding-bottom: 0;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .slider-billbord__title {
        font-size: 21px;
        line-height: 28px;
        padding-top: 15px;
        max-width: 227px;
    }
    .slider-billbord__descr {
        font-size: 14px;
        padding-top: 10px;
        max-width: 160px;
    }
    .banner__title {
        max-width: 216px;
    }
    .row_banners > div {
     margin-top: 15px;
 }
 .header-section {
     display: block;
 }
 .header-section .link-block {
     margin-top: 15px;
     display: inline-block;
 }
 .products {
    padding-top: 26px;
}
.item-news {
    padding: 0 !important;
    box-shadow: none !important;
}
.subscribe__title {
    font-size: 18px;
    line-height: 27px;
}
.subscribe {
 padding: 30px 0;
}
.footer__bottom {
 font-size: 13px;
}
.slider-billbord__item {
 padding-top: 25px;
 height: 305px;
}
.item-product {
    box-shadow: 0px 4px 10px 0px rgb(200 200 200 / 30%);
}
.slider-products {
    padding-bottom: 20px;
}
.advantages {
    padding-bottom: 30px;
}
.item-advantage__icon {
    position: relative;
    height: 40px;
    justify-content: flex-start;
    width: 100%;
}
.item-advantage {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.row_advantages {
    margin: 0 -5px;
}
.row_advantages > div {
    padding: 0 5px;
}
.item-advantage p {
    font-size: 13px;
    line-height: 18px;
}
.item-advantage strong {
    margin: 10px 0;
    margin-bottom: 7px;
    font-size: 15px;
}
.form-subscribe .btn-main {
    padding: 0 15px;
}
.form-subscribe .item-form input {
    padding-left: 15px;
    padding-right: 25px;
}
.item-advantage p {
    font-size: 12px;
    line-height: 17px;
}
.item-advantage strong {
    font-size: 14px;
    line-height: 20px;
}
.item-advantage__icon {
    height: 50px;
}
.article-block {
    font-size: 16px;
    line-height: 24px;
}
.article .col-page .row {
    padding-top: 0;
    padding-bottom: 20px;
}
.news-page .title-main {
    margin-bottom: 0;
    margin-left: 0;
}
.title-main {
    padding-top: 20px;
}
.page-numbers {
    width: 27px;
    height: 27px;
    margin: 0 1px;
    font-size: 14px;
}
.page-numbers.prev, .page-numbers.next {
    width: 33px;
    height: 33px;
}
.page-numbers.prev {
    margin-right: 8px;
}
.page-numbers.next {
    margin-left: 8px;
}
.pager {
    padding-top: 25px;
}
.news-page {
    padding-bottom: 38px; 
}
.contacts-block {
    padding: 20px 15px;
}
#map {
    height: 360px;
} 
.title-main {
    font-size: 25px;
}
.contacts {
    padding-bottom: 40px;
}
.title-page {
    font-size: 22px;
    line-height: 33px;
}
.slider-nav__item {
    width: 60px;
    height: 60px;
}
.card__price {
    font-size: 29px;
    margin-top: 3px;
    margin-bottom: 13px;
}
.card__oldprice {
    font-size: 16px;
}
.table-wrap table td {
    padding: 4px 11px;
}
.table-wrap table {
    font-size: 12px;
    line-height: 22px;
}
.card-info td:first-child {
    width: 162px;
}
.table-wrap table thead {
    font-size: 14px;
}
.row_products > div {
    margin-top: 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
/*new pages*/
.item-contact__title {
    font-size: 17px;
    padding-left: 20px;
}

.steps-block__number { 
    width: 50px;
    height: 50px;
    font-size: 20px;
}
.steps-block {
    padding: 20px 15px;
}
.steps-block__item {
    font-size: 14px;
}
.delivery-block {
    padding: 25px 20px;
}
.delivery-block__content {
    display: block;
}
.delivery-block__content strong {
    margin-top: 10px;
    font-size: 16px;
}
.delivery-block__content p {
    font-size: 14px;
}
.delivery-block .title-section {
    padding-bottom: 15px;
}
.tabs-card {
    font-size: 14px;
}
.card-info thead td {
    padding-top: 0 !important;
}
.icon-complect {
    margin-top: 15px;
    margin-bottom: 15px;
}
.reviews-wrap p {
    font-size: 14px;
    line-height: 21px;
}
.partners p,
.vacancies p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
}
.block-form {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
}
.category .title-main {
    padding-bottom: 25px;
}
.category-block {
    margin: 0 -15px;
}
.item-category .title-section {
    padding-bottom: 15px;
}
.category {
    padding-bottom: 15px;
}
.block-installment__title {
    font-size: 15px;
    line-height: 23px;
}
.block-installment {
    padding-left: 15px;
}
.item-installment {
    font-size: 14px;
    line-height: 21px;
}
.item-product__status {
    left: 20px;
}
.tabs-contacts li > a {
    padding: 9px 15px;
}
.contact-map {
    height: 350px;
}
.discount .title-middle {
    font-size: 17px;
}
.discount p {
    font-size: 14px;
}
.row_catalog > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.bx_soc_comments_div .bx-catalog-tab-body-container .bx-catalog-tab-container>div,
div.blog-comment-fields  {
    padding: 0;
}
.modal-wrap_location {
    padding: 30px 23px;
}

/*last*/
/*last*/
/*last*/
.warranty h2, .warranty h1 {
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 17px;
}
.warranty img {
    margin-bottom: 18px;
}
.warranty h3 {
    font-size: 19px;
}

/*add new*/
/*add new*/
/*add new*/
.hint-content {
    left: auto;
    right: -20px;
    transform: none;
}
.hint-content::before {
    right: 14px;
    left: auto;
}
/*support*/
.support-main__image {
    display: none;
}
.support-main__content {
    padding-right: 0;
    padding-bottom: 0;
}
.support .title-section {
    padding-top: 0;
}
.item-support,
.support-main {
    padding: 20px 15px;
}
.title-block {
    font-size: 19px;
    }
    .row_support .row > div {
    margin-top: 20px;
}
.row_support > div {
    margin-top: 20px;
}
.support {
    padding-bottom: 50px;
}
} 

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .phone-btn,
    .menu-mobile {
        display: none !important;
    }
    .footer__content {
        display: block !important;
    }

    .row_catalog.list-view > div {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 25px;
    }
    .row_catalog.list-view .item-product {
        padding-top: 25px;
        min-height: 228px;
        padding-bottom: 0;
        padding-bottom: 6px;
        box-shadow: 0px 4px 10px 0px rgb(200 200 200 / 30%);
        padding-left: 230px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .row_catalog.list-view .item-product__image {
        top: 0;
        left: 20px;
        position: absolute;
        width: 200px;
    }
    .row_catalog.list-view .item-product__bottom {
        position: relative;
        padding: 0;
        opacity: 1;
        margin-top: auto;
    }
    .row_catalog.list-view .item-product .btn-like {
        opacity: 1;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sidebar-catalog {
        display: block !important;
    }

    /*support*/
    .row_support .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 73%;
        flex: 0 0 73%;
        max-width: 73%;
    }
    .row_support .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 27%;
        flex: 0 0 27%;
        max-width: 27%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1390px) {
    .container {
        max-width: 1390px;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1390px;
    }
}